@import url(https://fonts.googleapis.com/css?family=VT323);

* {
  /* border: 2px solid red; */
  align-content: center;
  margin: auto;
}
/* Main Pages/Elements */
.body {
  display: flex;
  background-color: #6ED8A5;
  align-items: center;
}

.title {
  font-size: 80px;
  text-align: center;
}

/*about*/

.aboutPage {
  background-color: #6ED8A5;
}

.aboutTxtShell {
  justify-content: center;
}

.about {
  width: 50%;
  background-color: #AFB1D4;
}

.picShell {
  text-align: center;
}

.about {
  font-size: 20px;
  color: #2B2D50;
  border: solid #2B2D50;
  /* #2B2D50 5px; */
  padding: 20px;
  margin-top: 20px;
  border-radius: 10%;
  /* font-weight: bold; */
}

.aboutPic {
  width: 40%;
  border-radius: 20%;
}

.pAbout{
  padding: 20px 0px;
}

/*home*/
.home {
  background-color: black;
  color: #33ff00;
  font-family: "VT323", monospace;
  display: flex;
  margin: 30px auto;
  justify-content: center;
}

.homeTxt {
  padding: 0 0 2% 0;
}

.homeOne {
  font-size: 70px;
}

.home3 {
  font-size: 40px;
}

.homeFoot {
  display: flex;
  justify-items: space-between;
  align-items: center;
}

.homeFootLink {
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.homeButton {
  align-items: center;
  justify-items: space-around;
}

.figs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.icon {
  height: 50px;
}

.inline {
  display: flex;
  justify-content: space-between;
}

li {
  border: #33ff00;
  border-width: 5px;
}

.Pix {
  width: 100%;
}


.resSliderDiv {
  width: 100%;
}

.resumeButton {
  width: 50%;
}

/* Home Nav */
.nav {
  display: flex;
  justify-content: space-between;
}

.homeMenu {
  background-color: #33ff00;
  width: 20%;
  justify-content: space-between;
  border: 6px inset rgba(0, 0, 0, 0.5);
  text-align: center;
}

.homeMenTxt {
  font-family: "VT323", monospace;
  text-decoration: none;
  color: black;
  font-size: x-large;
}

.botText {
  font-size: 30px;
}

a {
  text-decoration: none;
  color: black;
}

/* home icons */
.connectPic {
  width: 8%;
  /* border-radius: 50%; */
  margin: 0% 20%;
  background-color: #33ff00;
  border: 6px inset rgba(0, 0, 0, 0.5);
}

.homeButton a {
  color: #33ff00;
  text-decoration: none;
}

img {
  width: 10%;
}

/* Portfolio */

.portfolioPage{
  background-color: #6ED8A5;
}

.portfolio {
  margin-top: 20px;
  text-align: center;
  width: 80%;
  background-color: #6ED8A5;
  border-radius: 15px;
  border: 6px solid #0D3020;
}

.card {
  text-align: left;
  padding-left: 5%;
  padding-right: 5%;
}

.card1 {
  text-align: left;
  padding-bottom: 20px;
}

.card3 {
  padding-bottom: 15px;
}

.cardImages {
  padding-top: 20px;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}

.cardImg {
  margin-bottom: 10px;
  width: 45%;
  border: solid;
}

.cardImg:hover {
  transform: scale(1.5);
  border: none;
}

/* Tabs  */
.react-tabs__tab-list {
  margin: 0 auto 2rem;
  display: flex;
  transition: all 0.7s;
  border: 3px solid #0D3020;
  
}

.react-tabs__tab {
  list-style: none;
  cursor: pointer;
  padding-top: 2%;
  padding-left: 5%;
  border-right: 3px solid #0D3020;
  border-top-right-radius: 40%;
  /* margin:0% */
}

.react-tabs__tab:hover {
  background: #ffb000;
  color: #0D3020;
}

.react-tabs__tab--selected {
  background: #2a3f365c;
  color: #ffb000;
}