.home {
  background-color: black;
  color: #33ff00;
  font-family: "Courier New", Courier, monospace;
  align-items: flex-end;
}

.CharacterStats {
  padding: 5%;
  display: inline-flex;
}

.figs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.icon {
  height: 50px;
}

.inline {
  display: flex;
  /* flex-flow: wrap;/ */
  /* align-items: center; */
  justify-content: space-between;
}

li {
  border: #33ff00;
  border-width: 5px;
}

.OldSchoolTabs {
  margin-left: 2%;
  display: flex;
  display: inline-block;
  width: 60%;
}

.PixPic {
  width: 80%;
}
.Pix {
  width: 100%;
}

.react-tabs__tab-list {
  margin: 0 auto 2rem;
  display: flex;
  transition: all 0.7s;
  align-items: center;
  justify-content: left;
  border: 3px solid #33ff00;
  /* border-radius: 2rem; */
  padding: 10px;
}

.react-tabs__tab {
  /* width: 50%; */
  /* padding-left: 1rem;
    padding-right: 1.5rem; */
  list-style: none;
  text-align: center;
  cursor: pointer;
  border-left: #33ff00;
  padding: 10px;
}

.react-tabs__tab:hover {
  background: #ffb000;
  color: black;
}

.react-tabs__tab--selected {
  background: #2a3f365c;
  color: #ffb000;
}

.resSliderDiv {
  width: 100%;
}

.resumeButton {
  width: 50%;
}

/* Drowpdown Dot */

.drops{
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.navDot:hover .drops {display: block;}

/* Footer */
.git {
  width: 5%;

border-radius: 50%;
  /* padding-left: 1%;
  padding-right: 1%;
  padding-top: 0%;
  padding-bottom: 2%; */
  background-color: #33ff00;
}

.linkedin {
  width: 5%;
border-radius: 100%;
  /* padding-left: 1%;
  padding-right: 1%;
  padding-top: 0%;
  padding-bottom: 2%; */
  background-color: #33ff00;
}

.homeButton{
  outline-color: #33ff00;
  outline-width: 3px;
  background-color: black;
  color: #33ff00;
}

.footer {
  align-items: flex-end;
}
